* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1 {
    font-family: cursive;
    font-size: 500px;
    font-weight: 300px;
    background-image: url(https://500anz.github.io/images/background1.gif);
    background-clip: text;
    color: transparent;
    display: inline-block;
    text-align: center;
}

